RewriteEngine On
RewriteBase /

# In caso di HTTP viene cambiato ad HTTPS
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Rimuove l'estensione .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Gestione 404
ErrorDocument 404 /etc/404.php

# # av:php5-engine
AddHandler av-php5 .php
