:root {
  /* Variabili globali, più facile */
  --headerSize: 80px;
  --mainColor: #5EDCFF;
  --darkColor: #3db2d3;
  --greyColor: #EEEEEE;
  --rectUpperMargin: 0.34;
  --buttonSize: 0.7; /* in relazione all'headerSize */
  --move: 0px;    /* per muovere  */
  --sidebarWidth: 200px;
  --contentBorder: 3%;
}

@font-face {
  font-family: "SanFranciscoThin";
  src: url("SFProThin.otf");
}

@font-face {
  /* Non lo uso veramente perché l'altro meglio lmao */
  font-family: "SanFrancisco";
  src: url("SFProLight.otf");
}

html {
  /* è molto importante ricordare alla pagina che è grossa il 100% della pagina */
  height: 100%;
}

body {
  font-family: "SanFranciscoThin";
  font-weight: normal;
  min-height: calc(100% - var(--headerSize));
  margin-left: 0px;
}

#header {
  position: fixed;
  display: table;
  z-index: 3; /* serve specificare se no l'ombra va sotto al menu */

  font-family: "SanFranciscoThin";
  color: white;
  font-size: calc(var(--headerSize) * 3/4);
  left: 0px;
  top: 0px;
  width: 100%;

  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--mainColor);
  height: var(--headerSize);
}

.headerCell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.buttonContainer {
  width: var(--headerSize);
}

.unselectable {
  /* se non li metto tutti per qualche ragione non funziona */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#button {
  transition: background-color 0.2s ease;
  cursor: pointer;
  width:  calc(var(--headerSize) * var(--buttonSize));
  height: calc(var(--headerSize) * var(--buttonSize));
  margin: auto;
}

#rect {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 4%;
}

#rect::before {
  content: ''; /* Necessario per mostrare lo pseudoelemento */
  position: absolute;
  top: calc(var(--headerSize) * var(--buttonSize) * var(--rectUpperMargin) + var(--move));
  background-color: white;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  transform: rotate(var(--rotateLeft));
}

#rect::after {
  content: '';
  position: absolute;
  /* gran bel macello di calcolo questo */
  top: calc(
    var(--headerSize) * var(--buttonSize) *  calc(1 - var(--rectUpperMargin))
    - var(--headerSize) * var(--buttonSize) * 0.04
    - var(--move)
  );
  background-color: white;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  transform: rotate(var(--rotateRight));
}

#user {
  --s: calc(var(--headerSize) * 0.5);
  font-size: var(--s);
  position: relative;
  width: 1px;
  white-space: nowrap;
  margin: auto;
  margin-right: 0;
  padding-right: 8px;
  cursor: pointer;
}

#usrIcon {
  --h: calc(0.6 * var(--s));
  position: absolute;
  top: 0px;
  left: calc(-8px - var(--s));
  margin: auto;
  /* background-color: rgba(255,255,255,0.5); */
  width: var(--s);
  height: 100%;
}

#usrIcon::before {
  content: '';
  position: absolute;
  background-color: white;
  width: var(--h);
  border-radius: 100%;
  height: var(--h);
  left: calc(calc(var(--s)/2) - (calc(var(--h))/2));
  top: 18px;
}

#usrIcon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(50% - 25px);
  top: calc(var(--headerSize) / 2 + 8px);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: white;
}

#pageTitle {
  position: relative;
  left: 0px;
  transition: all 0.4 ease;
}

#contentShadow {
  display: none;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  transition: all 0.2s ease;
}

#contentWrapper {
  font-size: 20px;
  margin-top: 80px;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

#left {
  position: fixed;
  height: 100%;
  z-index: 2;
  max-width: calc(var(--headerSize) * 3);
  /* left: calc(var(--headerSize) * 2.5) */
  background-color: var(--mainColor);
  transition: all 0.3s ease;
}

#menuList {
  font-family: "SanFranciscoThin";
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: calc(var(--headerSize) / 2);
  list-style-type: none;
  padding-left: 12px;
  padding-right: 12px;
}

a {
  color: black;
}

.menuLink {
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

a.menuLink {
  /* Per evitare di avere il testo attaccato alle pareti del rettangolo */
  padding-left: 8px;
  padding-right: 8px;
}

li.menuLink:hover {
  background-color: var(--darkColor);
}

#button:hover {
  background-color: var(--darkColor);
}

#content {
  --cp: calc(8px + var(--contentBorder));
  display: block;
  padding: var(--cp);
  width: calc(100% - 2 * var(--cp));
}

.code {
  font-family: monospace;
  background-color: var(--greyColor);
  font-size: 16px;
  width: 80%;
  margin-left: 30px;
  white-space: pre-wrap; /* Serve perché il pre non va a capo da solo */
  border: 0 !important;
  border-left: 5px solid !important;
  border-color: var(--mainColor) !important;
  padding: 4px !important;
  border-radius: 0.3em !important;
}

.title {
  font-size: 20px;
  width: 100%;
  padding: 8px;
  text-align: center;
}

#homebg {
  width: 100%;
  height: 400px;
  opacity: 0;
  transition: opacity 1s ease;
  background-image: url("/src/images/homebg1.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.sidebar {
  margin-top: 20px;
  border-radius: 0.5em;
  background-color: var(--greyColor);
  float: left;
  width: var(--sidebarWidth);
}

.sidebar ul {
  list-style-type: none;
}

.mainContent {
  width: calc(100% - calc(var(--sidebarWidth) + var(contentBorder) + 20px));
  margin-left: calc(var(--sidebarWidth) + 20px + var(--contentBorder));
}

.sub {
  /*un paio di bellissime righe perché i link dalla sidebar no mandino troppo in basso*/
  padding-top: calc(20px + var(--headerSize));
  margin-top: calc(-20px - var(--headerSize));
}

.review {
  background-color: var(--greyColor);
  width: 100%;
  min-height: 130px;
  margin-top: 30px;
  border-radius: 1em;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.reviewHead {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  display: float;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: var(--mainColor);
}

.review p {
  margin: 10px;
}

#newReviewWrapper {
  position: fixed;
  width: 100%;
  left: 0px;
}

#newReview {
  opacity: 0;
  display: none;
  position: relative;
  border-radius: 1em;
  width: 30%;
  margin: auto;
  padding: 16px;
  background-color: var(--greyColor);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.submitButton {
  border: none;
  border-radius: 0.5em;
  background-color: var(--mainColor);
  transition: all 0.2s ease;
  padding: 8px;
  margin-top: 8px;
}

.submitButton:hover {
  background-color: var(--darkColor)
}

.submitButton:active, .submitButton:focus {
  color: white;
}

#newReview p {
  margin-bottom: 0px;
}

#newReview button {
  width: 60%;
  margin-left: 20%;
}

#newReview input, textarea {
  width: 92%;
  box-sizing: border-box;
}

#newReview input[type="number"] {
  width: 40px;
}

#close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: auto;
  right: 20px;
  height: 10px;
  width: 10px;
}

#close > div::before {
  content: '';
  position: absolute;
  top: 5px;
  background-color: black;
  height: 2px;
  width: 10px;
  transform: rotate(45deg);
}

#close > div::after {
  content: '';
  position: absolute;
  top: 5px;
  background-color: black;
  height: 2px;
  width: 10px;
  transform: rotate(-45deg);
}

textarea {
  resize: none;
}

#comment {
  height: 4em;
}

#source {
  position: absolute;
  font-size: 15px;
  left: 5px;
  color: white;
  text-decoration: none;
  top: auto;
  bottom: 100px;
}

.loginWrapper {
  width: 100%;
  margin: auto;
  width: 30%;
}

.loginHeader {
  border-radius: 0.5em 0.5em 0 0;
  padding: 8px;
  background-color: var(--mainColor);
}

.loginHeader h3 {
  margin: 0;
  font-weight: bold;
}

.login {
  padding: 16px;
  border-radius: 0 0 0.5em 0.5em;
  background-color: var(--greyColor);
}

.loginChanger {
  font-size: 16px;
  text-align: right;
  cursor: pointer;
  margin: 2px;
}

.login input,button {
  width: 100%;
  box-sizing: border-box; /* per evitare che siano più grandi */
  border: none;
  outline: none;
}

.login input {
  border-radius: 2px;
  height: 2em;
  margin-bottom: 8px;
  padding: 2px;
}

@keyframes rainbowHueFilter{
  /* GRAZIE MILLE ELIA TI PRENDO IN PRESTITO QUESTO <3 */
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}

@keyframes rainbowBorder {
  /* Questo roba è stata scritta da uno script per rendere l'animazione il più omogeneo possibile */
  0% {border-color: hsl(0, 100%, 50%);}
  1% {border-color: hsl(4, 100%, 50%);}
  2% {border-color: hsl(7, 100%, 50%);}
  3% {border-color: hsl(11, 100%, 50%);}
  4% {border-color: hsl(14, 100%, 50%);}
  5% {border-color: hsl(18, 100%, 50%);}
  6% {border-color: hsl(22, 100%, 50%);}
  7% {border-color: hsl(25, 100%, 50%);}
  8% {border-color: hsl(29, 100%, 50%);}
  9% {border-color: hsl(32, 100%, 50%);}
  10% {border-color: hsl(36, 100%, 50%);}
  11% {border-color: hsl(40, 100%, 50%);}
  12% {border-color: hsl(43, 100%, 50%);}
  13% {border-color: hsl(47, 100%, 50%);}
  14% {border-color: hsl(50, 100%, 50%);}
  15% {border-color: hsl(54, 100%, 50%);}
  16% {border-color: hsl(58, 100%, 50%);}
  17% {border-color: hsl(61, 100%, 50%);}
  18% {border-color: hsl(65, 100%, 50%);}
  19% {border-color: hsl(68, 100%, 50%);}
  20% {border-color: hsl(72, 100%, 50%);}
  21% {border-color: hsl(76, 100%, 50%);}
  22% {border-color: hsl(79, 100%, 50%);}
  23% {border-color: hsl(83, 100%, 50%);}
  24% {border-color: hsl(86, 100%, 50%);}
  25% {border-color: hsl(90, 100%, 50%);}
  26% {border-color: hsl(94, 100%, 50%);}
  27% {border-color: hsl(97, 100%, 50%);}
  28% {border-color: hsl(101, 100%, 50%);}
  29% {border-color: hsl(104, 100%, 50%);}
  30% {border-color: hsl(108, 100%, 50%);}
  31% {border-color: hsl(112, 100%, 50%);}
  32% {border-color: hsl(115, 100%, 50%);}
  33% {border-color: hsl(119, 100%, 50%);}
  34% {border-color: hsl(122, 100%, 50%);}
  35% {border-color: hsl(126, 100%, 50%);}
  36% {border-color: hsl(130, 100%, 50%);}
  37% {border-color: hsl(133, 100%, 50%);}
  38% {border-color: hsl(137, 100%, 50%);}
  39% {border-color: hsl(140, 100%, 50%);}
  40% {border-color: hsl(144, 100%, 50%);}
  41% {border-color: hsl(148, 100%, 50%);}
  42% {border-color: hsl(151, 100%, 50%);}
  43% {border-color: hsl(155, 100%, 50%);}
  44% {border-color: hsl(158, 100%, 50%);}
  45% {border-color: hsl(162, 100%, 50%);}
  46% {border-color: hsl(166, 100%, 50%);}
  47% {border-color: hsl(169, 100%, 50%);}
  48% {border-color: hsl(173, 100%, 50%);}
  49% {border-color: hsl(176, 100%, 50%);}
  50% {border-color: hsl(180, 100%, 50%);}
  51% {border-color: hsl(184, 100%, 50%);}
  52% {border-color: hsl(187, 100%, 50%);}
  53% {border-color: hsl(191, 100%, 50%);}
  54% {border-color: hsl(194, 100%, 50%);}
  55% {border-color: hsl(198, 100%, 50%);}
  56% {border-color: hsl(202, 100%, 50%);}
  57% {border-color: hsl(205, 100%, 50%);}
  58% {border-color: hsl(209, 100%, 50%);}
  59% {border-color: hsl(212, 100%, 50%);}
  60% {border-color: hsl(216, 100%, 50%);}
  61% {border-color: hsl(220, 100%, 50%);}
  62% {border-color: hsl(223, 100%, 50%);}
  63% {border-color: hsl(227, 100%, 50%);}
  64% {border-color: hsl(230, 100%, 50%);}
  65% {border-color: hsl(234, 100%, 50%);}
  66% {border-color: hsl(238, 100%, 50%);}
  67% {border-color: hsl(241, 100%, 50%);}
  68% {border-color: hsl(245, 100%, 50%);}
  69% {border-color: hsl(248, 100%, 50%);}
  70% {border-color: hsl(252, 100%, 50%);}
  71% {border-color: hsl(256, 100%, 50%);}
  72% {border-color: hsl(259, 100%, 50%);}
  73% {border-color: hsl(263, 100%, 50%);}
  74% {border-color: hsl(266, 100%, 50%);}
  75% {border-color: hsl(270, 100%, 50%);}
  76% {border-color: hsl(274, 100%, 50%);}
  77% {border-color: hsl(277, 100%, 50%);}
  78% {border-color: hsl(281, 100%, 50%);}
  79% {border-color: hsl(284, 100%, 50%);}
  80% {border-color: hsl(288, 100%, 50%);}
  81% {border-color: hsl(292, 100%, 50%);}
  82% {border-color: hsl(295, 100%, 50%);}
  83% {border-color: hsl(299, 100%, 50%);}
  84% {border-color: hsl(302, 100%, 50%);}
  85% {border-color: hsl(306, 100%, 50%);}
  86% {border-color: hsl(310, 100%, 50%);}
  87% {border-color: hsl(313, 100%, 50%);}
  88% {border-color: hsl(317, 100%, 50%);}
  89% {border-color: hsl(320, 100%, 50%);}
  90% {border-color: hsl(324, 100%, 50%);}
  91% {border-color: hsl(328, 100%, 50%);}
  92% {border-color: hsl(331, 100%, 50%);}
  93% {border-color: hsl(335, 100%, 50%);}
  94% {border-color: hsl(338, 100%, 50%);}
  95% {border-color: hsl(342, 100%, 50%);}
  96% {border-color: hsl(346, 100%, 50%);}
  97% {border-color: hsl(349, 100%, 50%);}
  98% {border-color: hsl(353, 100%, 50%);}
  99% {border-color: hsl(356, 100%, 50%);}
  100% {border-color: hsl(360, 100%, 50%);}
}
